<!doctype html>
<html ng-app="weatherApp">
	<head>
		<title>Weather Book</title>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-route.min.js"></script>
		<link rel="stylesheet" href="bootstrap.min.css"/>
		<script type="text/javascript" src="bootstrap.min.js"></script>
		<link rel="stylesheet" href="style.css"/>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
	  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand">
          </a>
        </div>
      </div>
    </nav>
	  <div ng-controller="weatherController">
  	  <input id="srchBtn" type="text" name="search" ng-model="cityName" placeholder="Search.."/>
  	  <input id="submitBtn" type="Submit" value="Submit" ng-click="getWeatherInfo(cityName)"/>
		  <ul>
				<li>{{weatherData.weather.main}}</li>
				<li>{{weatherData.main.pressure}}</li>
				<li>{{weatherData.main.humidity}}</li>
				<li>{{weatherData.name}}</li>
				<li>{{weatherData.sys.country}}</li>
			</ul>
		</div>
	</body>
</html>
